* {font-family: "Quicksand", sans-serif;}

html {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--white);
    font-family: sans-serif;
}

section {
    background-color: var(--primary);
    color: var(--white);
    padding-top: 5.5rem;
    margin: 0;
}

.h1 {
    padding-bottom: 1rem;
    font-weight: bold;
}

.text-justify {text-align: justify;}

.breadcrumb-container {background-color: var(--primary);}

.breadcrumb {margin: 0;}

.breadcrumb-item {color: var(--light-gray) !important;}

.breadcrumb-item+.breadcrumb-item::before {color: var(--dark-red);}

.breadcrumb-item a {
    color: var(--light-red) !important;
    text-decoration: none;
}

.card {
    background-color: var(--gray);
    color: var(--white);
}

.btn {
    background-color: var(--light-red) !important;
    color: var(--white) !important;
    font-size: 0.875rem !important;
    font-weight: bold !important;
    padding: .625rem 1.5rem !important;
    border-radius: 999px !important;
}
.btn:hover {background-color: var(--dark-red) !important;}

.btn-outline-primary {border-color: var(--dark-red) !important;}

input, textarea {
    background-color: var(--dark-gray) !important;
    border: none !important;
    color: var(--white) !important;
}
input::placeholder, textarea::placeholder {
    color: var(--light-gray) !important;
}
input:active, textarea:active,
input:focus, textarea:focus {
    /* border-color: var(--light-red) !important; */
    border: 2.5px solid var(--light-red) !important;
}

input {
    border-radius: 9rem !important;
    padding: .7rem 1.1rem !important;
}

textarea {
    border-radius: 1.5rem !important;
    padding: 1rem 1.1rem !important;
}

.bg-primary {background-color: var(--primary) !important;}

.color-light-red {color: var(--light-red);}

/*** Ticker ***/
#tickerInfo {
    margin: 0;
    padding: .5rem;
    font-size: .85rem;
}

#tickerInfo button {
    padding: .7rem 1rem;
}

/*** Header ***/
header {
    height: 100vh;
    background-color: var(--primary);
    position: relative;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
}

nav {
    position: relative;
    z-index: 9;
}

.nav-item a {
    margin: 0.1rem 0;
    padding: 0.5rem 1rem !important;
    color: var(--white) !important;
    font-weight: bold !important;
}
.nav-item a:hover {color: var(--dark-red) !important;}

nav .active a {color: var(--dark-red) !important;}

#home > div > img {
    width: 12rem;
    border-radius: 50%;
    margin-top: 3rem;
    position: relative;
    z-index: 9;
}

#btnContactMe {
    position: relative;
    z-index: 9;
}

#scrollDown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.mouse {
    margin: 0 auto;
	width: 1.35rem;
	height: 2.25rem;
	border: .1rem solid var(--white);
	border-radius: 3rem;
	position: relative;
	&::before {
		content: '';
		width: 0.4rem;
		height: 0.4rem;
		position: absolute;
		top: .4rem;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--white);
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}
@keyframes wheel {
	to {
		opacity: 0;
		top: 1.25rem;
	}
}

#btnDownloadCV {margin: 1.5rem 0 0 0;}

/*** About Me ***/
.about-stat-item {
    width: 100%;
    display: flex;
    padding: 0 2rem;
}

.about-stat-icon i {
    color: var(--gray);
    font-size: 3rem;
    margin-right: 1rem;
    height: 100%;
}

.about-stat-description h3 {
    font-size: 2rem;
    font-weight: 700;
}

/*** Skills ***/
#skills ul {
    margin: -1rem 0 0 0;
    padding: 0;
    list-style: none;
    columns: 4;
    text-align: center;
}

/*** Work Experiences ***/
#worksList {
    height: 200vh;
    overflow: hidden;
}

.read-more-button {
    text-align: center;
    padding: 7rem 0 1rem 0;
    transform: translateY(-100%);
    margin-bottom: -10rem;
    border-radius: 0 0 .8rem .8rem;
    background-image: linear-gradient(to bottom, transparent, var(--gray));
}

/*** Certifications ***/
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    margin: 0 .6rem;
}

.slick-initialized .slick-slide {display: block;}

.slick-prev, .slick-next {
    border: none;
    background-color: transparent;
    color: #90959B;
    font-size: 1.8rem;
    margin: 0 .2rem;
}

.slick-prev:hover, .slick-next:hover {color: #E9EAEC;}

#certificateList .card img {border-radius: 5px;}

#certificateList .card .card-body {
    position: absolute;
    bottom: 0%;
    color: var(--white);
    opacity: 0;
}

#certificateList .card .card-body span, #projectDetail span {
    background-color: var(--light-red);
    font-size: .8rem;
    padding: .3rem 1rem;
    border-radius: 999px;
}

#certificateList .card .card-body h5 {
    /* font-size: 1.4rem; */
    /* font-weight: bold; */
    margin: .5rem 0 .3rem 0;
}

#certificateList .card:hover {background-color: var(--dark-gray);}
#certificateList .card:hover img {opacity: 0.25;}
#certificateList .card:hover .card-body {opacity: 1;}

/*** Projects ***/
#projectList .card {background-color: transparent;}

#projectList span {
    background-color: var(--light-red);
    font-size: .8rem;
    padding: .3rem 1rem;
    border-radius: 0 5px 0 .5rem;
    position: absolute;
    top: 0;
    right: 0;
}

#projectList .card-body {padding: var(--bs-card-spacer-y) .1rem;}

#btnProjectsViewMore {margin-top: -2rem;}

/*** Projects Page ***/
#projectsFilter .btn {
    background-color: inherit !important;
    font-weight: normal !important;
    padding: .5rem 1rem !important;
    border-radius: 9px !important;
    margin: 0 .25rem;
}

#projectsFilter input[type=checkbox]:checked + label {
    background-color: var(--dark-red) !important;
}

/*** Project Detail Page ***/
#projectDetail span {
    display: inline-block;
    margin-bottom: .3rem !important;
}

/*** Contact ***/
#contact img {
    position: absolute;
    filter: invert(100%) brightness(100%) contrast(100%);
}

.contact-content {
    position: relative;
    z-index: 9;
}

.contact-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-content ul li {
    padding: .2rem 0;
}

.contact-content ul li a {
    text-decoration: none;
    color: var(--white);
}

.contact-content .fa {
    padding-right: .3rem;
}

.fa-map-marker {margin-left: .25rem;}

#contactEmail:hover a {color: #C71610;}
#contactLinkedIn:hover a {color: #0077B5;}
#contactGitHub:hover a {color: var(--light-gray);}
#contactInstagram:hover a {color: #BC2A8D;}

/*** Footer ***/
footer {
    background-color: var(--primary);
    color: var(--gray) !important;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}

/*** Others ***/
#btnGoToTop {
    display: none;
    position: fixed;
    bottom: 4.5rem;
    right: 2rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--light-red);
    color: var(--white);
    cursor: pointer;
    padding: .7rem .9rem;
    border-radius: .65rem;
    font-size: 0.8rem;
}
#btnGoToTop:hover {background-color: var(--dark-red);}


@media (max-width: 768px) {
    #aboutMeStat {margin-top: 3rem;}

    .about-stat-item {padding: 0;}

    #skills ul {columns: 3;}

    .slick-prev, .slick-next {
        width: 1rem;
        font-size: 1.4rem;
        margin: 0 .4rem;
    }
}

@media (max-width: 540px) {
    #skills ul {columns: 2;}
}
